{% extends 'base.html' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>PCAP Files</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Prevent scrollbars */
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none; /* Optional: removes the border around the iframe */
        }
    </style>
</head>

{% block content %}
    <iframe src="http://127.0.0.1:8082"></iframe>
{% endblock %}


